.navbar {
  position: relative;
  width: 100%;
  position: sticky !important;
  top: 0;
  background-color: white;
  z-index: 1000;
}

/* Add shadow when scrolled */
.navbar.scrolled {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
  height: 65px;
  max-width: 80rem;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 40px;
}

.logo-container img {
  display: block; /* Helps with potential spacing issues */
  max-height: 100%; /* logo's max height is 100% of container height */
  width: auto; /* Width adjusts automatically to maintain aspect ratio */
}

.nav-logo {
  font-size: 1.7rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-item {
  position: relative;
  margin-left: 10px;
}

.nav-link {
  color: #0f3551 !important;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 0.94rem;
  font-weight: 500;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff9900;
}

.nav-link-with-dropdown {
  cursor: pointer;
}

.client-login {
  position: relative;
  margin-left: 2rem;
  background-color: #005878;
  color: #f4f1f1 !important;
  padding: 8px 8px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevron {
  margin-left: 5px;
  transition: transform 0.3s;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1rem;
  background-color: rgb(51, 51, 51);
  border-radius: 4px;
  min-width: 230px;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
  z-index: 100;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-item {
  padding: 8px 10px;
  color: #fff;
  font-size: 0.92rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  color: #4381f4;
  transition: color 0.3s;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: #232222;
  font-size: 24px;
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.close-menu {
  display: none;
  cursor: pointer;
  color: #232222;
  font-size: 24px;
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .close-menu {
    display: none;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #ececec;
    flex-direction: column;
    align-items: flex-start;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
    z-index: 10;
  }

  .nav-menu.active {
    max-height: 1000px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  .nav-item {
    width: 100%;
    margin: 0;
  }

  .nav-link {
    width: 100%;
    padding: 15px 20px;
    justify-content: space-between;
  }

  .dropdown-menu {
    position: static;
    padding: 0 0;
    width: 100%;
    box-shadow: none;
    max-height: 0;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: max-height 0.25s ease-in-out;
    background-color: aliceblue;
  }

  .dropdown-menu.show {
    max-height: 500px;
  }

  .dropdown-item {
    padding-left: 40px;
    color: #0f3551 !important;
  }

  .close-menu.active {
    display: block;
  }

  .hamburger.active {
    display: none;
  }

  .cst-client-login {
    display: none;
  }
}
