@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 97.5%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --backup-3: 217 91% 60%;
    --backup-2: 262 83% 58%;
    --backup-1: 172 66% 50%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.x-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.glb-headings-lineheight {
  /* for all the page headings */
  line-height: 1;
}

.fade-out {
  /* used in 'everything you need' component in the home page */
  mask-image: linear-gradient(to bottom, black, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: top;
  -webkit-mask-position: top;
}

/* these radial gradients are used in the websites pricing section */

.radial-background {
  background: radial-gradient(
    circle,
    rgba(80, 80, 80, 0.9) 0%,
    rgba(64, 64, 64, 1) 10%,
    rgba(24, 24, 24, 1) 70%
  );
}

.radial-pro {
  background: radial-gradient(circle, #22d3ee 0%, #06b6d4 10%, #005878 70%);
}

.radial-secondary {
  background: radial-gradient(
    circle,
    rgba(41, 63, 155, 0.97) 0%,
    rgb(37, 99, 235, 1) 10%,
    #0f3551 70%
  );
}

.valueCard1 {
  background: linear-gradient(to top right, #113043, #174a79);
}

.valueCard2 {
  background: linear-gradient(to bottom right, #8d81ca, #9b8fd7, #7470cb);
}

.valueCard4 {
  background: linear-gradient(to bottom right, #5b8d75, #6aa664, #658a80);
}

.loading-text {
  place-self: center;
  background: linear-gradient(90deg, #0ff, rgb(220, 231, 71)) -100%/ 200%;
  /* being excessively careful with compat, 
	 * though this has been supported unprefixed and 
	 * in the shorthand across major browsers for a while */
  -webkit-background-clip: text;
  background-clip: text;
  /* use color, don't use -webkit-text-fill-color anymore, 
	 * was meant to solve a problem we haven't had in years */
  color: transparent;
  font: sans-serif;
  /* animation: shimmer 3s linear infinite; */
}

@keyframes shimmer {
  to {
    background-position: 100%;
  }
}
