.navbar {
  position: relative;
  width: 100%;
  position: sticky !important;
  top: 0;
  background-color: white;
  z-index: 1000;
}

/* Add shadow when scrolled */
.navbar.scrolled {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 0; cmt-out 12/08/25 */
  height: 65px;
  max-width: 80rem;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 40px;
}

.logo-container img {
  display: block; /* Helps with potential spacing issues */
  max-height: 100%; /* logo's max height is 100% of container height */
  width: auto; /* Width adjusts automatically to maintain aspect ratio */
}

.nav-logo {
  font-size: 1.7rem;
}

.nav-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-menu-stylingcontainer {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-item {
  position: relative;
  margin-left: 4px;
}

.nav-link {
  color: #1f2937; /*#0f3551*/
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 0.94rem;
  font-weight: 500;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: color 0.3s;
  white-space: nowrap;
}

.nav-link:hover {
  color: #005878;
  transition: color 0.3s;
}

.nav-link-with-dropdown {
  cursor: pointer;
}

.smlscreen-client-login {
  display: none;
}

.client-login {
  position: relative;
  margin-left: 0.5rem;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.chevron {
  margin-left: 3px;
  transition: transform 0.3s;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1rem 0;
  background-color: #1f2937;
  min-width: 250px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition:
    opacity 0.2s,
    visibility 0.2s,
    transform 0.2s;
  z-index: 100;
  border: 1px solid #374151;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-item {
  padding: 10px 10px;
  color: #fff;
  font-size: 0.92rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #374151;
  color: white;
}

.dropdown-item-link {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  white-space: nowrap;
  color: #fafafa; /* neutral-50 */
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.dropdown-item-link span {
  color: #93c5fd; /* blue-300 */
}

.hamburger {
  display: none;
  cursor: pointer;
  color: #232222;
  font-size: 24px;
  background: none;
  border: none;
}

.close-menu {
  display: none;
  cursor: pointer;
  color: #232222;
  font-size: 24px;
  background: none;
  border: none;
}

@media screen and (max-width: 1020px) {
  .hamburger {
    display: block;
  }

  .close-menu {
    display: none;
  }

  .nav-menu {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
    z-index: 10;
    /* border-bottom: 1px solid rgb(197, 197, 197); com-out 12/08/25*/
    transform: none;
  }

  .nav-menu.active {
    max-height: 1000px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); */
  }

  .nav-menu-stylingcontainer {
    width: 100%;
    padding: 1rem 0rem;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border: 1px solid #e1dbdb;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
  }

  .nav-item {
    width: 100%;
    margin: 0;
  }

  .nav-link {
    width: 100%;
    padding: 15px 24px;
    justify-content: space-between;
    column-gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
  }

  .smlscreen-client-login {
    display: block;
    background-color: #005878;
    color: white !important;
    padding: 8px 12px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  .dropdown-menu {
    position: static;
    padding: 0 0;
    width: 100%;
    box-shadow: none;
    max-height: 0;
    overflow: hidden;
    /* opacity: 1; commented out 12/08/25*/
    visibility: visible;
    transform: translateY(0);
    transition: max-height 0.2s ease-in-out;
    background-color: #1f2937;
    border-radius: 0;
  }

  .dropdown-menu.show {
    max-height: 500px;
  }

  .dropdown-menu > :first-child {
    /* styles for the first child */
    margin-top: 0.7rem;
  }

  .dropdown-menu > :last-child {
    /* styles for the last child */
    margin-bottom: 0.7rem;
  }

  /* Alternate row background color */
  /* .dropdown-menu > :nth-child(2n) {
    background-color: rgb(55 65 81); /* This is Tailwind's gray-700 */
  /*} */

  .dropdown-item {
    padding: 0.6rem 0;
    padding-left: 22px;
    font-size: 0.94rem;
    font-weight: 500;
  }

  .close-menu.active {
    display: block;
  }

  .hamburger.active {
    display: none;
  }

  .nav-buttons {
    margin-top: 0.5rem;
    justify-content: center;
  }

  .client-login {
    display: none;
  }
}
