.carouselContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carouselTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselItem {
  min-width: 20%; /* 100% / 5 items */
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
